html{
    font-family: Century Gothic;
}

table{
    border-spacing: 0px 0px;
    border: 1px solid #6c6874;
    text-align: center;
    font-size: 16px;
}

th{
    background-color: #6c6874;
    border: 1px solid #6c6874;
    font-weight: lighter;
    font-size: 18px;
    color: white;
    padding: 5px 10px 5px 10px;
}

td{
    border: 1px solid #6c6874;
    padding: 5px 10px 5px 10px;
}

form{
    margin: 0% 0% 0% 5%;
}

/* select */
option{
    text-align: center;
}

.add_new_student{
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px 20px;/*
    border: 1px solid #6c6874;*/
    border-radius: 10px;
    background-color: rgba(0,0,0,0.06);
    width: 600px;
}
.submit,
select,
input[type=date],
input[type=text]{
    font-size: 16px;
    font-family: Century Gothic, serif;
    font-style: oblique;
    padding:10px;
    border:0;
    margin-left: 15px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
}

.submit{
    font-style: unset;
}

.submit:hover,
input[type=submit]:hover{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    background-color: cadetblue;
}
.submit{
    padding: 10px;
    margin: 15px 20px;
    background: #6c6874;
    text-decoration: none;
    color: white;
}
div{
    padding: 10px;
    margin: 10px;
}

label{
    font-size: 18px;
}

.table_href{
    border: none;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

hr{
    border: none;
    margin: 10px 5px 10px 5px;
}

.icons{
    margin: 5px 15px 0px 15px;
}

.icons:hover{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.icons:hover::after{
    content: attr(data-info);
    position: absolute;
    margin-top: -35px;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
}

.confirmation{
    position: absolute;
    margin-top: -16%;
    margin-left: 30%;
    margin-right: auto;
    padding: 20px 20px 10px 20px;
    border: 1px solid #6c6874;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
}
